<.flash_group flash={@flash} />
<div class="flex flex-col md:items-center gap-2 border-b-2 border-b-biege-light py-4">
  <h1 class="text-4xl text-blue-light font-bold max-w-[70%] md:max-w-full">Melissa Patterson</h1>
  <h2 class="text-xl">Full Stack Software Engineer</h2>
  <ul class="flex md:justify-center w-full gap-6 list-none text-blue-light">
    <li>Pragmatic</li>
    <li>Curious</li>
    <li>Adventurous</li>
  </ul>
</div>

<div class="flex flex-col md:flex-row items-center py-8 md:px-20">
  <div class="flex flex-col items-center gap-4 text-3xl text-biege-dark">
    <img
      class="border border-biege-light border-4 rounded-full object-cover md:h-96 md:w-96 h-56 w-56"
      src="/images/headshot.jpg"
      alt="headshot"
    />
    <div class="flex justify-center gap-10">
      <a href="https://github.com/melizzap" alt="github profile"></a>
      <a href="https://linkedin.com/in/melizzap" alt="linked in profile"></a>
    </div>
  </div>

  <div class="flex flex-col md:ml-14 md:max-w-[60%] md:mt-none mt-4 gap-2">
    <p>
      Passionate and versatile software engineer with 14 years of experience eager for my next opportunity to contribute and grow. I have 10 years of experience focused on developing production-quality software. I have led projects of varying scales and complexities, adapting seamlessly to diverse team dynamics and delivery styles.
    </p>
    <p>
      Over the past five years, I’ve specialized in Phoenix/Elixir, React/JavaScript, and Ruby, but I consider myself language-agnostic. My approach is rooted in weighing trade-offs and selecting the best tools for the job. In my previous roles, I've led teams, collaborated closely with product managers and designers to craft software solutions that aligned with organizational goals. I delivered high-quality features on schedule with quality and observability to raise issues before customer reports.
    </p>
    <p>
      In my next role, I aspire to grow further as an technical leader, expanding my expertise in software engineering. I thrive in roles that involve cross-functional collaboration with stakeholders to design, implement, and refine features that deliver substantial business value.
    </p>

    <p>
      Above all, I’m looking to join a team that shares my passion for learning, continuous improvement, and creating impactful solutions.
    </p>
  </div>
</div>
