<div class="py-8 px-20">
  <h2 class="text-3xl text-[var(--palo-santo)]">Languages and Frameworks</h2>
  <ul class="flex w-full justify-between mt-2">
    <li>Elixir</li>
    <li>Phoenix</li>
    <li>LiveView</li>
    <li>PSQL</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>React</li>
    <li>JavaScript/TypeScript</li>
    <li>Ruby</li>
    <li>Rails</li>
  </ul>
</div>
