<.flash_group flash={@flash} />

<div class="flex flex-col items-center gap-2 border-b-2 border-b-biege-light py-4">
  <h1 class="text-4xl text-blue-light font-bold">Melissa Patterson</h1>
  <h2 class="text-xl">Full Stack Software Engineer</h2>
  <ul class="flex justify-center w-full gap-6 list-none text-blue-light">
    <li>Pragmagtic</li>
    <li>Curious</li>
    <li>Adventurous</li>
  </ul>
</div>

<%= @inner_content %>
